@model List<Produto>
@{
    //List <Produto> produtos = ViewBag.Produtos;
    DateTime dataHora = DateTime.Now;
}

<h2>Gerenciamento de Produtos</h2>
<!--<a href="Produto/Cadastrar">Cadastrar Produto</a>-->
<a class="btn btn-primary" asp-action="Cadastrar">Cadastrar Produto</a>
<br />

<table style="margin-top:15px;margin-bottom:15px" class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Criado em</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Produto item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>@item.Preco.ToString("C2")</td>
                <td>@item.Quantidade</td>
                <td>@item.CriadoEm</td>
                <td>
                    <a asp-action="Remover" asp-route-id="@item.ProdutoId"
                       class="btn btn-outline-danger">Remover</a>
                </td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@item.ProdutoId"
                       class="btn btn-outline-secondary">Alterar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <b>Dados atualizados em: </b> @dataHora
</p>